<html>

<head>
    <script src="{{ url_for('static', path='hackernewsLogic.js') }}"></script>
    <style>
       h2{
        display: flex;
        justify-content: center;
        align-items: center;
       } 
       ul{
        display: flex;
        justify-content: center;
        align-items: center;
       }
       li{
        display: flex;
        justify-content: center;
        align-items: center;
       }
    </style>
</head>
<body>


<div>
    <h2>Latest TechCrunch News</h2>
    <ul id="hackernews-list"></ul>
</div>


</body>
</html>