<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}"
</head>
<body>

<div class="header">
    <h1>Scraping Bot</h1>
    <div class="imgdiv">
        <img src="{{ url_for('static', path='./images/bot.png') }}">
    </div>
    

</div>
<hr>

<div class="container">
    <button id="Techcrunch">
        <img src="{{ url_for('static', path='./images/techcrunch-logo.png') }}" width="300" alt="Techcrunch">
    </button>
    <button id = "Bensbites">
        <img src="{{ url_for('static', path='./images/bensbites-logo.jpg') }}" width="250" alt="Ben's Bites">
    </button>
</div>

<div class="scrapedData">
    <p>The scraped data will come here</p>

</div>

</body>
</html>
